/* 2 media query */

h1 {
    color: red;
}

@media screen and (max-width: 500px) {
    h1 {
        color: blue;
    }
}

/* 3 min-width */

p {
    background-color: red;
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 800px) {
    p {
        background-color: rgba(104, 82, 82, 0.973);
        color: rgb(218, 214, 214);
    }
}

/* 4 landscape  */

h3 {
    display: none;
}

@media screen and (orientation: landscape) {
    h3 {
        display: block;
    }
}